@{
    Layout = @"/_Layout.cshtml";

    bool enableDisqus = !string.IsNullOrWhiteSpace(GlobalMetadata.GetDisqusShortname(Document)) && !string.IsNullOrWhiteSpace(BlogMetadata.GetPageUniqueIdentifier(Document));
}

<!-- Basic page layout -->
<div class="container-fluid">
    <div class="row mt-5">
    <div class="col-md-8 markdown-body p-3 px-md-5 pb-md-5 mb-3">
        <div class="mb-5">
            <h1 class="mb-3">
                <?#= Title /?>
            </h1>
            <div class="mb-3 d-flex align-items-center">
               <a href="/about"><img src="/img/authors/ankush-jain/thumbnail.png" class="img-fluid rounded-circle img-thumbnail me-2"
                    style="height: 45px ;" /></a>
                <label class="text-secondary">
                    <span class="me-2">By <strong><a class="text-decoration-none link-secondary cj-author-link" href="/about"><?#= Author /?></a></strong></span>|
                    <span class="ms-2">Last Updated On
                            @Document.GetDateTime(WebKeys.Published).DayOfWeek,
                            @Document.GetDateTime(WebKeys.Published).ToString("MMM dd, yyyy")
                    </span>
                   </label>
            </div>

            <div>
                @if (Document.ContainsKey("Tags"))
                {
                    var allTags = OutputPages.Get("tags.html").GetChildren();

                    @foreach (string tag in Document.GetList<string>("Tags"))
                    {
                        var currentTag = allTags.First(item => item.GetTitle() == tag);

                        <a  href="@currentTag.GetLink()" class="badge bg-success text-light">@tag</a>
                    }
                }
            </div>
        </div>

        @RenderBody()

        @if (enableDisqus)
        {
            @Html.Partial("_partials/_disqus.cshtml")
        }

    </div>
    <div class="col-md-4 pt-0 p-3 ps-md-5 pe-md-4">
       
        @Html.Partial("_partials/_recentBlogs")

    </div>
</div>

@section scripts {
    <script src="@Context.GetLink("/scripts/prism.js")"></script>
}

@section styles {
    <link rel="stylesheet" href="@Context.GetLink("/styles/prism.css")" />
}