<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    @if(Document.ContainsKey(WebKeys.Description))
    {
        <meta name="description" content="@Document.GetString(WebKeys.Description)" />
    }
    @if(Document.ContainsKey(WebKeys.Author))
    {
        <meta name="author" content="@Document.GetString(WebKeys.Author)" />
    }

    <title>@Document.GetString("PageTitle")</title>

    @{
        @foreach (IDocument rssFeed in Outputs["**/*.rss"])
        {
        <link type="application/rss+xml" rel="alternate" title="@rssFeed.GetString(WebKeys.Title)" href="@rssFeed.GetLink()" />
        }
        @foreach (IDocument atomFeed in Outputs["**/*.atom"])
        {
        <link type="application/atom+xml" rel="alternate" title="@atomFeed.GetString(WebKeys.Title)" href="@atomFeed.GetLink()" />
        }
    }
    
    <meta name="application-name" content="@Document.GetString("SiteTitle")" />
    <meta name="msapplication-tooltip" content="@Document.GetString("SiteTitle")" />
    <meta name="msapplication-starturl" content="@Context.GetLink("/")" />

    @* TODO: More social graph meta tags *@
    <meta property="og:title" content="@Document.GetString("PageTitle")" />
    
    @if (Document.ContainsKey(WebKeys.Image))
    {
        <meta property="og:image" content="@Context.GetLink(Document.GetString(WebKeys.Image))" />
    }
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@Document.GetLink(true)" />

    <link rel="shortcut icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">
    <link rel="icon" href="@Context.GetLink("/favicon.ico")" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/brands.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" />
    
    @RenderSection("styles", required: false)
</head>

<body class="bg-light">

    <!-- Header -->
    @Html.Partial("_partials/_header")
    <!-- Header End -->

    <!-- Main Content -->
    <div class="container-fluid">
        @RenderBody()
    </div>


    <!-- Footer -->
    @Html.Partial("_partials/_footer")
    <!-- Footer End -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    @RenderSection("scripts", required: false)

</body>
</html>