ArchiveSources: => GetString(GlobalMetadataKeys.BlogSources)
ArchiveFilter: => GetBool("IsActive") 
ArchivePageSize: => GlobalMetadata.GetPageSize(Document)
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("Title")
Layout: /_Layout.cshtml

Title: Blogs
---
@Html.Partial("_partials/_titleHeader")

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    @foreach (IDocument document in Model.GetChildren())
    {
        @Html.Partial("/_partials/_post.cshtml", document)   
    }
</div>


@{
    int totalPostCount = Outputs.FromPipeline("Content")
            .FilterSources(GlobalMetadata.GetBlogSources(Document))
            .Where(item => item.GetBool(BlogMetadataKeys.IsActive))
            .Count();

    int totalPages = totalPostCount / GlobalMetadata.GetPageSize(Document);
    totalPages = totalPostCount % GlobalMetadata.GetPageSize(Document) == 0 ? totalPages : totalPages + 1;
    int currentPage= Document.GetInt(Keys.Index);

    IDocument previous = Model.GetDocument(Keys.Previous);
    IDocument next = Model.GetDocument(Keys.Next);
}

<div class="flex justify-center">
    <nav class="flex" aria-label="...">
        <ul class="inline-flex text-sm">
            @if (previous != null)
            {
                <li class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                    <a href="@previous.GetLink()">
                        <i class="fa-solid fa-angles-left me-2"></i>Newer
                    </a>
                </li>
            }
            else
            {
                <li class="text-white bg-blue-400 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 disabled">
                    <span>
                        <i class="fa-solid fa-angles-left me-2"></i>Newer
                    </span>
                </li>
            }

            <li class="text-white bg-blue-400 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                <span>Page @currentPage of @totalPages</span>
            </li>

            @if (next != null)
            {
                <li class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                    <a href="@next.GetLink()">
                        Older <i class="fa-solid fa-angles-right ms-2"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="text-white bg-blue-400 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 disabled">
                    <span>
                        Older <i class="fa-solid fa-angles-right ms-2"></i>
                    </span>
                </li>
            }
        </ul>
    </nav>
</div>



@* 
References for Archive
1. https://github.com/statiqdev/Statiq.Web/blob/main/examples/Statiq.Web.Examples/input/archives/paged-archive.cshtml 

References for Enumerate
1. https://github.com/dotnet-foundation/website/blob/main/input/blog/archive.cshtml *@