 @model IDocument

@{
    string imagePath = BlogMetadata.GetBlogImage(Model, BlogImageType.BigThumbnail);
    string excerpt = Model.GetString(Keys.Excerpt);
}

<div class="col">
    <div class="card shadow-lg bg-body rounded" title="@Model.GetTitle()">
        <a href="@Model.GetLink()"><img src="@imagePath" class="card-img-top" alt="@Model.GetTitle()"></a>
        <div class="card-body">
            <h4 class="card-title"><a href="@Model.GetLink()" class="text-decoration-none link-dark">@Model.GetTitle()</a></h4>
            <p class="card-text">@Html.Raw(excerpt)</p>
            <div class="d-flex justify-content-between align-items-center">
                <a href="@Model.GetLink()" class="btn btn-success">Read More</a>
                <small class="text-muted">By @Model.GetString(WebKeys.Author)</small>
            </div>
        </div>
    </div>
</div>
