@model IDocument

@{
string imagePath = BlogMetadata.GetBlogImage(Model, BlogImageType.BigThumbnail);
string excerpt = Model.GetString(Keys.Excerpt);
}

<div class="max-w-md mx-auto bg-white shadow-md overflow-hidden rounded-md">
    <a href="@Model.GetLink()">
        <img src="@imagePath" alt="@Model.GetTitle()" class="w-full h-48 object-cover object-center"> 
    </a>
    <div class="p-4">
        <!-- Blog Title -->
        <h3 class="text-2xl font-bold mb-2"><a href="@Model.GetLink()" class="text-black">@Model.GetTitle()</a></h3>

        <!-- Blog Description -->
        <p class="text-gray-700 mb-4">@Html.Raw(excerpt)</p>

        <!-- Read More Button and Author -->
        <div class="flex justify-between items-center mt-4">
            <a href="@Model.GetLink()"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Read
                More</a>
            <p class="text-gray-500">By @Model.GetString(WebKeys.Author)</p>
        </div>
    </div>
</div>


